@page
@model OdeToFood.Pages.Resturants.ListModel
@{
}

<div>
    <h1>Resturants !</h1>
    <h2>@Model.Message</h2>
</div>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTxt" />
            <span class="input-group-btn">
                <button class="btn btn-outline-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </span>
        </div>

    </div>
</form>
<div>
    <table class="table">
        @foreach (var resturant in Model.ResturantsList)
        {
            <tr>
                <td>@resturant.Name</td>
                <td>@resturant.Location</td>
                <td>@resturant.Cusine</td>
                <td>
                    <a class="btn btn-lg"  asp-page="./Detail" asp-route-resturantId="@resturant.Id">Detail
                    </a>
                </td>
            </tr>

        }
    </table>
</div>
